[Unit]
Description=AIRTAME Browser
After=network.target

[Service]
Type=simple
#CPUSchedulingPolicy=rr
Nice=-10
# cpu group enabled in the kernel is needed
CPUAccounting=true
CPUShares=1024
CPUQuota=80%
WorkingDirectory=/opt/airtame-browser/
ExecStartPre=/bin/sh -c '/usr/bin/echo 32 > /sys/class/graphics/fb0/bits_per_pixel'
ExecStart=/opt/airtame-browser/airtame-browser -f 
Restart=always

[Install]
WantedBy=graphical.target
